<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93150933206-sa89gmmbb1ubgpn8deqoim3fo9dcpp91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93150933206-sa89gmmbb1ubgpn8deqoim3fo9dcpp91</string>
	<key>API_KEY</key>
	<string>AIzaSyCMaN7KB8dRCg8Pczy7iK4jFIsR2d7JvcM</string>
	<key>GCM_SENDER_ID</key>
	<string>93150933206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bibleStudiesWing.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>biblestudywing-32f3b</string>
	<key>STORAGE_BUCKET</key>
	<string>biblestudywing-32f3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93150933206:ios:0d53577ac4f300e250d977</string>
</dict>
</plist>